<template name="menu">
  <div class="main display_flex column background_1">
    <div class="menuView">
      <div class="homeNavigation">
      <a href="/home" class="navigationLink1">Home</a>
    </div>
    <div class="acountNavigation">
      <a href="/account" class="navigationLink1">My Account</a>
    </div>
    <div class="feedbackNavigation">
      <a href="/account" class="navigationLink2 btn_logout">Logout</a>
    </div>
    </div>
    <div class="reciper_view_screen_footer">
        <button type="button" class="back_button" id="back">
          <img src="/images/back-icon.svg"/>
        </button>
    </div>
  </div>
</template>
