<template name="changePassword">

  <div class="main display_flex column background_2">
    <div id="flashMsg">
          {{> flashMessages}}
      </div>
    <div class="paddingLeftRight_30">
    <div class="signInTitle" style="">
      <a href="" class="Sign-in">Change Password</a>
    </div>

    <div class="register_form">
      <form id="changePasswordForm">

        <div class="form-group">
          <label for="pwd" class="text_box_lable">Old Password</label>
          <input type="password" class="form-control text_box_rectangle validationRequired" id="oldPwd">
        </div>

        <div class="form-group">
          <label for="pwd" class="text_box_lable">New Password</label>
          <input type="password" class="form-control text_box_rectangle validationRequired validationEqualTo" id="newPwd">
        </div>
        <div class="form-group">
          <label for="pwd" class="text_box_lable">New Repeat Password</label>
          <input type="password" class="form-control text_box_rectangle validationRequired validationEqualTo" euqalTo="#newPwd" id="newReptPwd">
        </div>

        <div class="registerDiv">
          <button type="submit" class="forgot_button text_register" id="changeButton">change password</button>
        </div>

        <div class="backDiv">
          <button type="button" class="back_button display_flex display_center" id="back">
            <img src="/images/back-icon.svg"/>
          </button>
        </div>
      </form>
    </div>
  </div>

  </div>
  {{loadFormValidationMessage}}
</template>
