<template name="forgotPassword">

  <div class="main display_flex column background_2">
    <div id="flashMsg">
          {{> flashMessages}}
      </div>
    <div class="paddingLeftRight_30">
    <div class="signInTitle" style="">
      <a href="" class="Sign-in">Forgot Password</a>
    </div>

    <div class="register_form">
      <form id="forgotForm">
        <div class="form-group">
          <label for="usr" class="text_box_lable">Email Address</label>
          <input type="email" class="form-control text_box_rectangle validationRequired" id="email">
        </div>

        <div class="registerDiv">
          <button type="submit" class="forgot_button text_register" id="forgotButton">forgot password</button>
        </div>

        <div class="backDiv">
          <button type="button" class="back_button display_flex display_center" id="back">
            <img src="/images/back-icon.svg"/>
          </button>
        </div>
      </form>
    </div>
  </div>

  </div>
  {{loadFormValidationMessage}}
</template>
